/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Name: Jessica Binke
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --drkgry: #222222;
    --ltgry: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;

    --molle:
        font-family: "Molle", cursive;
        font-weight: 400;
        font-style: italic;

    --montserrat:
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;

        .molle-regular-italic {
            font-family: "Molle", cursive;
            font-weight: 400;
            font-style: italic;
          }

          .montserrat {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
          }          
}
* {
    box-sizing: border-box;
  }

#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
body{
    min-width: 350px;
    display: grid;
    grid-template-columns: auto;
}

h1{
    font-family: "Molle";
    font-size: 3rem;
}
h2{
    font-family: "Molle";
}
h3{
    font-family: "Molle";
}
h4{
    font-family: "Montserrat";
}
p{
    font-family: "Montserrat";
}
q{
    font-family: "Montserrat";
}
small{
    font-family: "Montserrat";
}
nav{
    font-family: "Montserrat";
    grid-area: menu;
    display: grid;
    justify-content: end;
}
button{
    font-family: "Montserrat";
}
form{
    font-family: "Montserrat";
}
header{
    display: grid;
    background-image: linear-gradient(var(--blue), var(--white));
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu" "title title" "text text";
    grid-gap: 10px;
}
#logo{
    grid-area: logo;
    margin: auto;
}
header p{
    grid-area: text;
    font-size: 1rem;
    padding: 1.5em;
}
header h1{
    grid-area: title;
}

#main-content{
    display: grid;
}

header label {
    position: absolute;
    top: 36px;
    padding: 18px 47px;
    background-color: var(--yellow);
    text-align: center;

}
header input {
    display: none;
}
label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
header input ~ ul {
    overflow: hidden;
    max-height: 0px;
    text-align: center;
    margin-top: 30px;
}
.sr-only {
    width: 1px;
    white-space: nowrap;
    height: 1px;
    position: absolute;
    overflow: hidden;
    border: 0px;
    padding: 0px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

#intro h2{
    font-size: 2.3rem;
}





/* -------------- */
