/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Name: Jessica Binke
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --drkgry: #222222;
    --ltgry: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;

    --molle:
        ;font-family: "Molle", cursive;
        font-weight: 400;
        font-style: italic;

    --montserrat:
        ;font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;

        /* .molle-regular-italic {
            font-family: "Molle", cursive;
            font-weight: 400;
            font-style: italic;
          }

          .montserrat {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
          }           */
}
    

    


#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
body{
    display: grid;
    grid-template-columns: auto;
}

h1{
    font-family: "Molle";
    font-size: 3rem;
}
h2{
    font-family: "Molle";
}
h3{
    font-family: "Molle";
}
h4{
    font-family: "Montserrat";
}
p{
    font-family: "Montserrat";
}
q{
    font-family: "Montserrat";
}
small{
    font-family: "Montserrat";
}
nav{
    font-family: "Montserrat";
    grid-area: menu;
    display: grid;
    justify-content: end;
}
nav input{
    display: none;
}

button{
    font-family: "Montserrat";
}
form{
    font-family: "Montserrat";
}
header{
    display: grid;
    background-image: linear-gradient(var(--blue), var(--white));
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu" "title title" "text text";
    grid-gap: 10px;
}
#logo{
    grid-area: logo;
}
header p{
    grid-area: text;
    font-size: 1.2rem;
    padding: 10px 0px 10px 15px;
    line-height: 20px;
}
header h1{
    grid-area: title;
    margin-left: 20px;
}

#main-content{
    display: grid;
}

header label {
    position: absolute;
    top: 36px;
    padding: 18px 47px;
    background-color: var(--yellow);
    text-align: center;

}
header input {
    display: none;
}
label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}
header input ~ ul {
    overflow: hidden;
    max-height: 0px;
    text-align: center;
    margin-top: 30px;
}
.sr-only {
    width: 1px;
    white-space: nowrap;
    height: 1px;
    position: absolute;
    overflow: hidden;
    border: 0px;
    padding: 0px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

#menu-toggle{
    width: 8.7em;
}

#intro h2{
    font-size: 2.3rem;
    padding: 10px 15px 20px 15px;
}
#intro p{
    font-size: 1.3rem;
    line-height: 35px;
    padding-left: 15px;
}
#img-grid{
    display: grid;
    grid-gap: 15px;
}
#plan{
    display: grid;
    background-color: #F6D64A;
    justify-content: center;
    padding-bottom: 32px;
}
#plane{
    background-color: #499BD2;
    border: 7px solid #FFFFFF;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    width: 270px;
    height: 270px;
}

#plan h3{
    font-size: 2.2em;
    margin: 10px;
}

#hotel{
    background-color: #499BD2;
    border: 7px solid #FFFFFF;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    width: 270px;
    height: 270px;
}

#boat{
    background-color: #499BD2;
    border: 7px solid #FFFFFF;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    width: 270px;
    height: 270px;
}

#uten{
    background-color: #499BD2;
    border: 7px solid #FFFFFF;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    width: 270px;
    height: 270px;
}

#icons{
    display: grid;
    grid-gap: 10px;
}

#icons h4{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}
#testimonials{
    display: grid;
    justify-items: center;
}

#testimonials h3{
    font-size: 40px;
    padding: 10px;
    margin-right: 75px;
    margin-top: 40px;
    margin-bottom: 20px;
    
}

#people{
    display: grid;
}

#amanda{
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}

#amanda h4{
    font-size: 35px;
    font-weight: 600;
}

#amanda p{
    font-size: 25px;
}

#amanda q{
    font-size: 20px;
    padding: 0px 50px;
    font-style: italic;
}

#max{
    display: grid;
    justify-items: center;
    grid-gap: 8px;
}
#max h4{
    font-size: 35px;
    font-weight: 600;
}
#max p{
    font-size: 25px;
}

#max q{
    font-size: 20px;
    padding: 0px 50px;
    font-style: italic;
}

#ines{
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}
#ines h4{
    font-size: 35px;
    font-weight: 600;
}
#ines p{
    font-size: 25px;
}

#ines q{
    font-size: 20px;
    padding: 0px 50px;
    font-style: italic;
}

#carmen{
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}

#carmen h4{
    font-size: 35px;
    font-weight: 600;
}

#carmen p{
    font-size: 25px;
}

#carmen q{
    font-size: 20px;
    padding: 0px 50px;
    font-style: italic;
}

#ines p{
    font-size: 25px;
}

#ines q{
    font-size: 20px;
    padding: 0px 50px;
    font-style: italic;
}

#about{
    background-color: #499BD2;
}

#about h3{
    font-size: 35px;
    padding: 12px;
    width: 300px;
    line-height: 40px;
}

#icons2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 22px;
    grid-gap: 20px;
    justify-items: center;
    padding: 25px;
}

#icons2 h4{
    font-size: 25px;
    font-weight: bold;
}

#icons2 p{
    font-size: 20px;
}

#size{
    display: grid;
    justify-items: center;
}
#ele{
    display: grid;
    justify-items: center;
}
#loca{
    display: grid;
    justify-items: center;
}
#pop{
    display: grid;
    justify-items: center;
}

#contact{
    display: grid;
    margin: 22px;
}

#contact h3{
    font-size: 32px;
    padding-bottom: 12px;
}

span.form-required{
    font-size: 20px;
}

form{
    display: grid;
    grid-gap: 35px;
    padding: 10px 30px;
}
#names{
    display: grid;
    grid-gap: 10px;
}
form input{
    border: 1.5px solid #9B26B0;
    height: 30px;
}

#nums{
    display: grid;
    grid-gap: 15px;
}

fieldset{
    display: grid;
    grid-gap: 12px;
    padding-bottom: 20px;
}

fieldset legend{
    text-transform: uppercase;
}

#selects{
    display: grid;
    grid-gap: 15px;
}

.custom-select{
    border: 1.5px solid var(--purple);
}

#mySubmit{
    background-color: #9B26B0;
    color: #FFFFFF;
    font-weight: 600;
    height: 55px;
    width: auto;
}

footer{
    display: grid;
    background-color: var(--ltgry);
    justify-items: center;
    padding: 20px 40px;
    color: #000000;
    grid-gap: 12px;
}

footer a{
    text-decoration: none;
    color: #000000;
}

/* -------------- */

@media screen and (min-width: 768px) {
    body{
        min-width: 768px;
        display: grid;
    }
    header{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        "logo title"
        "text text"
        "menu menu";
        margin-bottom: 60px;
    }
    header label {
        background-color: var(--yellow);
        text-align: center;
        position: relative;
        padding: auto;
        top: 0px;
        display: none;
    }
    label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
    }
    header input ~ ul {
        overflow: visible;
        max-height: 0px;
        text-align: center;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        width: 800px;
    }
    nav{
        font-family: "Montserrat";
        grid-area: menu;
        display: grid;
        justify-content: start;
    }
    header input {
        overflow: hidden;
    }

    header input ~ ul > li a{
        display: flex;
        background-color: #F6D64A;
        text-decoration: none;
        padding: 10px;
    }
    header h1{
        display: grid;
        align-items: center;
    }
    #main-content article{
        display: grid;
        padding: 30px 50px;
    }
    #img-grid{
        display: grid;
        grid-template-areas: "wave beach" "cove cove";
        justify-items: center;
    }
    #cove{
        grid-area: cove;
    }
    #beach{
        grid-area: beach;
    }
    #wave{
        grid-area: wave;
    }
    #plan{
        display: grid;
    }
    #icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #testimonials{
        display: grid;
    }
    #people{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #about{
        display: grid;
    }
    #icons2{
        display: flex;
    }

}
@media screen and (min-width: 1024px) {
    body{
        min-width: 1024px;
    }
    header{
        display: grid;
    }
    nav{
        display: grid;
        position: absolute;
        margin-left: 280px;
    }
    header input ~ ul{
        display: flex;
        justify-content: end;
        position: relative;
        top: -30px;
        gap: 15px;
        left: -32px;
    }
    #intro{
        display: grid
    }
    #img-grid{
        display: grid;
    }
    #plan{
        display: flex;
    }
    #icons{
        display: flex;
    }
    #people{
        display: flex;
    }
    #about{
        display: flex;
    }
    form{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}